<!DOCTYPE html>
<html>
	<html ng-app="myApp">
	  	<head>
	    	<title><%= title %></title>
	    	<link rel='stylesheet' href='/stylesheets/style.css' />
	    	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	  	</head>
	  	<body>
	   		<h1><%= title %></h1>
	    	<p>Welcome to <%= title %></p>
	  	</body>
	 </html>
</html>
