<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" ng-click="changePage('home');">
                <span class="glyphicon glyphicon glyphicon-glass"></span>
                RestoBook
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a ng-click="changePage('admin');">Admin</a></li>
        </ul>
      
    </div>
</nav>