<!DOCTYPE html>
<html>
	<html ng-app="myApp">
	  	<head>
	    	<title><%= title %></title>
	    	<link rel="stylesheet" href="/css/style.css" />
	    	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    		<script src="/app/app.js"></script>
    		<script src="/app/core/homepage.controller.js"></script>
	  	</head>
	  	<body>
	  		<div ng-controller="Controller" class="container">
	  			<div class="col-md-12">
	  				<div class="col-md-6 col-md-offset-3">
			   			<h1><%= title %></h1>
			   		</div>
			   	</div>
			   	<div ng-controller="ReservationController">
				   	<div class="col-md-6 col-md-offset-3">
				    	<p>Welcome to Reservation</p>
				    	<input ng-model="newReservation">
				    	<button ng-click="save()">ADD TODO</button>
				    	<li ng-repeat="reservation in reservations | filter: search">
				           <input type="checkbox" ng-model="todo.completed">
				           <a>{{todo.name}}</a>
				        </li>
				    </div>
				</div>
			    <div ng-controller= "RestaurantController">
				    <div class="col-md-6 col-md-offset-3">
				    	<p>Welcome to Restaurant</p>
				    	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
						  Ajouter un restaurant
						</button>

						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  	<div class="modal-dialog" role="document">
							    <div class="modal-content">
								    <div class="modal-header">
								       	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h4 class="modal-title" id="myModalLabel">Ajouter un restaurant</h4>
								    </div>
								    <div class="modal-body">
								    	<div class="col-md-12">
								    		<div class="input-group">
								    			<h4> Général </h4>
										        <input class="add-restaurant-input" ng-model="newRestaurant.name" placeholder="nom">
										        <input class="add-restaurant-input" ng-model="newRestaurant.address" placeholder="adresse">
										        <input class="add-restaurant-input" ng-model="newRestaurant.capacity" placeholder="capacité">
										        <h4> Accès restaurateur</h4>
										        <input class="add-restaurant-input" ng-model="newRestaurant.login" placeholder="Login">
										        <input class="add-restaurant-input" ng-model="newRestaurant.password" placeholder="Mot de passe">
										        <h4> Horaires de réservations </h4>

										    </div>
									    </div>
								    </div>
								    <div class="modal-footer">
								       	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								        <button type="button" class="btn btn-primary" ng-click="save()">Sauver ce restaurant</button>
								    </div>

								</div>
						  	</div>
						</div>
						<div> Restaurants</div>
						<div ng-repeat="restaurant in restaurants | filter: search">
							{{restaurant.name}}
						</div>
				    </div>
				</div>
	    	</div>
	  	</body>
	 </html>
</html>
