<!DOCTYPE html>
<html>
	<html ng-app="myApp">
	  	<head>
	    	<title><%= title %></title>
	    	<link rel="stylesheet" href="/css/style.css" />
	    	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    		<script src="/app/app.js"></script>
    		<script src="/app/core/homepage.controller.js"></script>
	  	</head>
	  	<body>
	  		<div ng-controller="Controller" class="container">
	  			<div class="col-md-12">
	  				<div class="col-md-6 col-md-offset-3">
			   			<h1><%= title %></h1>
			   		</div>
			   	</div>
			   	<div ng-controller="ReservationController">
				   	<div class="col-md-6 col-md-offset-3">
				    	<p>Welcome to <%= title %></p>
				    	<input ng-model="newReservation"></input>
				    	<button ng-click="save()">ADD TODO</button>
				    	<li ng-repeat="reservation in reservations | filter: search">
				           <input type="checkbox" ng-model="todo.completed">
				           <a>{{todo.name}}</a>
				        </li>
				    </div>
				 </div>
			    <div ng-controller= "RestaurantController">
				    <div class="col-md-6 col-md-offset-3">
				    	<p>Welcome to <%= title %></p>
				    	<input ng-model="newRestaurant"></input>
				    	<button ng-click="save()">ADD TODO</button>
				    	<li ng-repeat="restaurant in restaurants | filter: search">
				           <input type="checkbox" ng-model="restaurant.completed">
				           <a>{{restaurant.name}}</a>
				        </li>
				    </div>
				</div>
	    	</div>
	  	</body>
	 </html>
</html>
